.select-list:not(:has(button:focus)) li:not(.loading) button:not(:disabled):hover::before,
.select-list li:not(.loading) button:not(:disabled):focus::before {
	content: '';
	position: absolute;
	left: -2.5rem;
	height: 10px;
	width: 10px;
	top: calc(50% - 27.5px);
	transform: scale(0.4);
	box-shadow: var(--right-arrow-selection);
}

.select-list button:focus {
	outline: none;
}

@media (max-width: 600px) {
	.select-list button:not(:disabled):hover,
	.select-list li button:not(:disabled):focus {
		outline: solid 2px var(--text-black);
	}

	/* pijltje aan de zijkant weg */
	.pokemonlist:not(:has(button:focus)) li:not(.loading) button:not(:disabled):hover::before,
	.pokemonlist li:not(.loading) button:not(:disabled):focus::before {
		content: none;
	}

	/* plaatsing pijltje voor naar onder scroll */
	.pokemonlist::after {
		bottom: 1em;
	}
}



/* =================
list scroll pijl animatie
================= */
@media (min-width: 600px) {
	body:not(.fade) .select-list.scrollableup::before,
	body:not(.fade) .select-list.scrollabledown::after {
		content: '';
	}
}

.select-list::before,
.select-list::after {
	--initial-transform: scale(0.4);
	position: fixed;
	top: calc(var(--header-footer-height) - 1em);
	right: clamp(20vw, 20vw, 200px);
	width: 10px;
	height: 10px;
	box-shadow: var(--up-arrow-scroll);
	animation: 0.4s infinite step-start bounce;
	transform: var(--initial-transform);
	z-index: 12;
}

.select-list::after {
	--initial-transform: scale(0.4) rotate(180deg);
	bottom: calc(var(--header-footer-height) - 1em);
	top: unset;
	margin-right: -3.75em;
}

@keyframes bounce {
	0% {
		transform: var(--initial-transform) translateY(0);
	}
	25% {
		transform: var(--initial-transform) translateY(-5px);
	}
	50% {
		transform: var(--initial-transform) translateY(-10px);
	}
	75% {
		transform: var(--initial-transform) translateY(-5px);
	}
	100% {
		transform: var(--initial-transform) translateY(0);
	}
}