header,
footer {
	background: var(--header);
	color: var(--text-white);
	height: clamp(var(--header-height-min), var(--header-height), var(--header-height-max));
	/* text-shadow: .15rem 0 var(--text-shadow-white), 0 .15rem var(--text-shadow-white), .15rem .15rem var(--text-shadow-white); */
	text-shadow: .1em 0 var(--text-shadow-white), 0 .1em var(--text-shadow-white), .1em .1em var(--text-shadow-white);
	position: fixed;
	width: 100%;
}

header ul,
footer ul {
	height: 100%;
	width: clamp(300px, 90%, 2000px);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 5%;
}

header {
	top: 0;
}

header ul {
	justify-content: center;
	gap: 2em;
}

footer {
	bottom: 0;
	justify-content: flex-end;
}
footer ul {
	justify-content: flex-end;
}

ul li {
	font-size: 1em;
}
