header,
footer {
	background: var(--header);
	color: var(--text-white);
	height: clamp(10vh, 100px, 15vh);
	text-shadow: var(--text-shadow-white);
	position: sticky;
	width: 100%;
	z-index: 1;
}

header ul,
footer ul {
	height: 100%;
	width: clamp(150px, 90%, 2000px);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 5%;
	text-align: center;
}

header {
	top: 0;
}

header ul {
	justify-content: center;
	gap: 2em;
}

footer ul li,
header ul li,
header ul li h1 {
	font-size: clamp(0px, 1rem, 2.7vw);
}

footer {
	bottom: 0;
	justify-content: flex-end;
}
footer ul {
	justify-content: flex-end;
	gap: 1em;
}
