@import url(./header-footer.css);
@import url(./pokemon-list.css);

/* bron font: https://www.cufonfonts.com/font/pokemon-fire-red*/
@font-face {
	font-family: 'Pokemon';
	src: url('../assets/fonts/pokemon_fire_red.woff');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

button {
	background: none;
	border: none;
}

body {
	font-family: 'Pokemon', sans-serif;
	font-size: 150%;
	font-smooth: always;
}

:root {
	--header: #c6b58c;
	--text-white: #fff;
	--text-shadow-white: #636363;
	--text-shadow-white-extra: #424242;
	--text-black: #000;
	--text-shadow-black: #e7dec6;

	--header-height-min: 10vh;
	--header-height: 100px;
	--header-height-max: 120px;
}