.pokemonlist {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin: 0 auto;
	width: clamp(150px, 90%, 1000px);
}

.pokemonlist li {
	position: relative;
	height: 5em;
}

.pokemonlist li button {
	height: 100%;
	width: 100%;
	text-align: start;
	padding: 0 0.5em;
	display: grid;
	grid-template-columns: min-content 1fr minmax(8.5em, 1fr);
	align-items: center;
	column-gap: 1em;
	text-shadow: var(--text-shadow-black);
	text-transform: uppercase;
	font-weight: 500;
}

.pokemonlist li button:focus-visible {
	outline: 0;
}

.pokemonlist:not(:has(li button:focus)) li button:hover::before,
.pokemonlist li button:focus-visible::before {
	content: '';
	position: absolute;
	left: -2.5em;
	height: 10px;
	width: 10px;
	top: 10%;
	transform: scale(0.4);
	box-shadow: var(--right-arrow-selection);
}

/* =================
id section
================= */
.pokemonlist li button section:first-of-type p {
	font-size: clamp(0px, 2.5em, 4.4vw);
}

.pokemonlist li button section:first-of-type p::before {
	content: 'No';
	text-transform: none;
}

/* =================
name section
================= */
.pokemonlist li button section:nth-of-type(2) {
	font-size: clamp(0px, 1.8em, 4.4vw);
}


/* =================
types section
================= */
.pokemonlist li button section:last-of-type div {
	position: relative;
	width: 4.25em;
	height: 1.4em;
	line-height: 1.4em;
	font-size: clamp(0px, 2.5em, 2.4vw);
}