.pokemonlist {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: clamp(150px, 90%, 1000px);
	padding: none;
	height: calc(100vh - (var(--header-footer-height) * 2));
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.pokemonlist li {
	position: relative;
	scroll-snap-align: end;
}

/* css manier (gradient) */
.pokemonlist li button {
	/* height: calc(100% + 1em); */
	width: 100%;
	text-align: start;
	padding: 0.5em;
	display: grid;
	grid-template-columns: min-content 1fr minmax(16em, 1fr);
	align-items: center;
	column-gap: 1em;
	text-shadow: var(--text-shadow-black);
	text-transform: uppercase;
	font-weight: 500;
	font-size: clamp(0px, 1rem, 2.2vw);
}

.pokemonlist li button:hover,
.pokemonlist li button:focus-visible {
	outline: solid 2px var(--text-black);
}

/* pijltje voor select als scherm breed genoeg is */
@media (min-width: 600px) {
	/* nodig voor extra ruimte naast list want overflow-x:visible werkt niet icm overflow-y for some reason */
	.pokemonlist {
		padding: 0 3em;
	}
	.pokemonlist li button:hover,
	.pokemonlist li button:focus-visible {
		outline-color: transparent;
	}

	.pokemonlist:not(:has(li button:focus)) li:not(.loading) button:hover::before,
	.pokemonlist li:not(.loading) button:focus-visible::before {
		content: '';
		position: absolute;
		left: -2.5em;
		height: 10px;
		width: 10px;
		top: 5%;
		transform: scale(0.4);
		box-shadow: var(--right-arrow-selection);
	}
}

.pokemonlist li button section {
	height: 100%;
	display: flex;
	align-items: center;
}

/* =================
id section
================= */
.pokemonlist li button section:first-of-type p {
	font-size: clamp(0px, 2.5em, 4.4vw);
	width: 2.5em;
}

.pokemonlist li:not(.loading) button section:first-of-type p::before {
	content: 'No';
	text-transform: none;
}

/* =================
name section
================= */
.pokemonlist li button section:nth-of-type(2) {
	font-size: clamp(0px, 1.8em, 4.4vw);
}

/* =================
types section (css gradient)
================= */

/* =================
types section (canvas)
================= */
/* .pokemonlist li button section:last-of-type div {
	position: relative;
	display: inline-block;
}
.pokemonlist li button section:last-of-type div canvas {
	width: 8em;
}

.pokemonlist li button section:last-of-type div span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 200%
	color: var(--text-white);
	text-shadow: var(--text-shadow-white-extra);
} */

/* =================
loading state
================= */
.pokemonlist li.loading {
	/* height: 2em; */
}

.pokemonlist li.loading button {
	/* padding: 0 0.5em; */
	pointer-events: none;
	background: green;
}

.pokemonlist li.loading button section:first-of-type {
	background: red;
}

.pokemonlist li.loading button section:nth-of-type(2) {
	background: blue;
}

.pokemonlist li.loading button section:last-of-type {
	background: yellow;
}

.pokemonlist li.loading button::before {
	content: '';
	width: 8em;
	aspect-ratio: 8 / 3;
}
