.pokemondetailbg {
	width: 100%;
	height: calc(100vh - (var(--header-footer-height) * 2));
	background: var(--bg-details);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemondetail {
	height: 80%;
	border: solid 10px var(--header);
	border-radius: 1em;
	width: clamp(150px, 800px, 90%);
	/* width: clamp(150px, 90%, 900px); */
	display: grid;
	grid-template-rows: 65% 1fr;
	overflow: hidden;
	color: var(--text-black);
	text-shadow: var(--text-shadow-black);
}

/* =====================
bovenste section
===================== */
.pokemondetail > section:first-of-type {
	background: var(--text-white);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* section met text info */
.pokemondetail > section:first-of-type > section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 2em 2em 2em;
	gap: 1rem;
	width: fit-content;
}

.pokemondetail > section:first-of-type > section div {
	display: flex;
	align-items: baseline;
	gap: .8em;
}

.pokemondetail > section:first-of-type > section div p {
	font-size: 2rem;
	white-space: nowrap;
}

.pokemondetail > section:first-of-type > section div h2 {
	text-transform: uppercase;
	font-size: 2.5rem;
}

.pokemondetail > section:first-of-type > section :is(p.height, p.weight) {
	font-size: 2rem;
	width: calc(100% - 2em);
	text-align: end;
	position: relative;
}

.pokemondetail > section:first-of-type > section :is(p.height, p.weight)::before {
	position: absolute;
	left: 0;
}

.pokemondetail > section:first-of-type > section p.height::after {
	content: 'â€';
	position: absolute;
}

.pokemondetail > section:first-of-type > section p.height::before {
	content: 'HT';
}

.pokemondetail > section:first-of-type > section p.weight::before {
	content: 'WT';
}

.pokemondetail > section:first-of-type > section p.weight::after {
	content: 'lbs.';
	margin-left: .5em;
	position: absolute;
}

/* section met img */
.pokemondetail > section:first-of-type > img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 0 auto;
	/* image-rendering is de goat */
	image-rendering: pixelated;
}

/* =====================
onderste section
===================== */
.pokemondetail > section:last-of-type {
	text-shadow: var(--text-shadow-black-extra);
	border-top: solid 20px var(--header);
	position: relative;
}

.pokemondetail > section:last-of-type::before {
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 10px;
	background: var(--details-divider);
}

.pokemondetail > section:last-of-type p {
	/* vraag me niet hoe ik op deze nummers ben gekomen */
	font-size: clamp(1.3rem, 3.5cqb, 3.3vw);
	line-height: 1.2;
	word-spacing: 0.4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 0.4em);
}

@media screen and (max-width: 600px) {
	.pokemondetailbg {
		height: calc(100vh - var(--header-footer-height));
	}

	.pokemondetail {
		height: 90%;
	}

	.pokemondetail > section:first-of-type {
		grid-template-columns: 1fr;
		grid-template-rows: 60% 1fr;
	}

	.pokemondetail > section:first-of-type > section {
		order: 1;
	}

	.pokemondetail > section:first-of-type > section {
		padding: 0 1em 1em;
		gap: .5rem;
	}
}
