/* uitwerking van Sanne */
div.typebadge {
	position: relative;
	background: 
	linear-gradient(
				var(--badge-top, #9cdede) 50%,
				var(--badge-bottom, #ff5a8c) 50%
			)
			center center / 100% calc(100% - 8px) no-repeat,
		linear-gradient(var(--badge-top, #9cdede) 50%, var(--badge-bottom, #ff5a8c) 50%)
			center center / calc(100% - 8px) 100% no-repeat;
	text-align: center;
	/* display: inline-block; */
}

div.typebadge span {
	color: var(--text-white);
	text-shadow: var(--text-shadow-white-extra);
}

div.normal {
	--badge-top: #a8a878;
	--badge-bottom: #a8a878;
}
div.fire {
	--badge-top: #f08030;
	--badge-bottom: #f08030;
}
div.water {
	--badge-top: #6890f0;
	--badge-bottom: #6890f0;
}
div.grass {
	--badge-top: #78c850;
	--badge-bottom: #78c850;
}
div.electric {
	--badge-top: #f8b010;
	--badge-bottom: #f8b010;
}
div.ice {
	--badge-top: #98d8d8;
	--badge-bottom: #98d8d8;
}
div.fight {
	--badge-top: #e83000;
	--badge-bottom: #e83000;
}
div.poison {
	--badge-top: #f85888;
	--badge-bottom: #a040a0;
}
div.ground {
	--badge-top: #d8e030;
	--badge-bottom: #b8a038;
}
div.flying {
	--badge-top: #98d8d8;
	--badge-bottom: #a8a878;
}
div.psychic {
	--badge-top: #f85888;
	--badge-bottom: #f85888;
}
div.bug {
	--badge-top: #d8e030;
	--badge-bottom: #d8e030;
}
div.rock {
	--badge-top: #b8a038;
	--badge-bottom: #b8a038;
}
div.ghost {
	--badge-top: #a040a0;
	--badge-bottom: #a040a0;
}
div.dragon {
	--badge-top: #6890f0;
	--badge-bottom: #e83000;
}
div.dark {
	--badge-top: #507888;
	--badge-bottom: #507888;
}
div.steel {
	--badge-top: #a8a878;
	--badge-bottom: #507888;
}
div.fairy {
	--badge-top: #d692d4;
	--badge-bottom: #d692d4;
}
