header,
footer {
	background: var(--header);
	color: var(--text-white);
	height: var(--header-footer-height);
	text-shadow: var(--text-shadow-white);
	width: 100%;
	z-index: 1;
}

header ul,
footer ul {
	height: 100%;
	width: clamp(150px, 100%, 2000px);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 5%;
	text-align: center;
}

header {
	position: sticky;
	top: 0;
}

header ul {
	justify-content: center;
	gap: 2em;
}

header ul li h1,
header ul li h2,
footer ul li,
header ul li {
	font-size: clamp(0px, 2rem, 6.5vw);
}

footer {
	position: relative;
}
footer ul {
	justify-content: flex-end;
	gap: 1em;
}

@media screen and (max-width: 600px) {
	footer {
		display: none;
	}
}
