/* pages */
@import url(./pages/pokemon-filters.css);
@import url(./pages/pokemon-list.css);
@import url(./pages/pokemon-details.css);

/* partials */
@import url(./parts/header-footer.css);

/* utils */
@import url(./utils/select-item.css);
@import url(./utils/skeleton.css);
@import url(./utils/type-badges.css);
@import url(./utils/screen-transition.css);

@font-face {
	font-family: 'Pokemon';
	src: url('../assets/fonts/pokemon-fire-red.woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

ul,
ol {
	list-style: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

button:disabled {
	cursor: not-allowed;
}

img {
	/* image-rendering is de goat */
	image-rendering: pixelated;
}

body {
	font-family: 'Pokemon', sans-serif;
	color: var(--text-black);
	overflow-x: hidden;

	background-color: var(--bg-main);
	background-image: linear-gradient(135deg, var(--bg-secondary) 25%, transparent 25%),
		linear-gradient(225deg, var(--bg-secondary) 25%, transparent 25%),
		linear-gradient(45deg, var(--bg-secondary) 25%, transparent 25%),
		linear-gradient(315deg, var(--bg-secondary) 25%, var(--bg-main) 25%);
	background-position: 10px 0, 10px 0, 0 0, 0 0;
	background-size: 20px 20px;
	background-repeat: repeat;
	background-attachment: fixed;
}

:root {
	--header: #c6b58c;
	--text-white: #fff;
	--text-black: #000;
	--text-orange: #ff8c39;

	--bg-main: #fff7ef;
	--bg-secondary: #fcfcf9;
	--bg-details: #e7dec6;

	--details-divider: #7b6339;

	--header-footer-height: clamp(10vh, 100px, 15vh);

	/* ja ik houd van css variabelen */
	--text-shadow-white: 0.2rem 0 var(--text-shadow-white-color),
		0 0.2rem var(--text-shadow-white-color), 0.2rem 0.2rem var(--text-shadow-white-color);

	--text-shadow-white-extra: 0.2rem 0 var(--text-shadow-white-extra-color),
		0 0.2rem var(--text-shadow-white-extra-color),
		0.2rem 0.2rem var(--text-shadow-white-extra-color);

	--text-shadow-black: 0.2rem 0 var(--text-shadow-black-color),
		0 0.2rem var(--text-shadow-black-color), 0.2rem 0.2rem var(--text-shadow-black-color);
	--text-shadow-black-extra: 0.2rem 0 var(--text-shadow-black-extra-color),
		0 0.2rem var(--text-shadow-black-extra-color),
		0.2rem 0.2rem var(--text-shadow-black-extra-color);

	--text-shadow-orange: 0.2rem 0 var(--text-shadow-orange-color),
		0 0.2rem var(--text-shadow-orange-color),
		0.2rem 0.2rem var(--text-shadow-orange-color);

	--text-shadow-white-color: #636363;
	--text-shadow-white-extra-color: #424242;
	--text-shadow-black-color: #e7dec6;
	--text-shadow-black-extra-color: #c6b58c;
	--text-shadow-orange-color: #ce4239;

	--right-arrow-selection: 10px 10px 0 0 #000, 20px 10px 0 0 #e7dec6, 10px 20px 0 0 #000,
		20px 20px 0 0 #000, 30px 20px 0 0 #e7dec6, 10px 30px 0 0 #000, 20px 30px 0 0 #000,
		30px 30px 0 0 #000, 40px 30px 0 0 #e7dec6, 10px 40px 0 0 #000, 20px 40px 0 0 #000,
		30px 40px 0 0 #000, 40px 40px 0 0 #000, 50px 40px 0 0 #e7dec6, 10px 50px 0 0 #000,
		20px 50px 0 0 #000, 30px 50px 0 0 #000, 40px 50px 0 0 #000, 50px 50px 0 0 #000,
		60px 50px 0 0 #e7dec6, 10px 60px 0 0 #000, 20px 60px 0 0 #000, 30px 60px 0 0 #000,
		40px 60px 0 0 #000, 50px 60px 0 0 #e7dec6, 60px 60px 0 0 #e7dec6, 10px 70px 0 0 #000,
		20px 70px 0 0 #000, 30px 70px 0 0 #000, 40px 70px 0 0 #e7dec6, 50px 70px 0 0 #e7dec6,
		10px 80px 0 0 #000, 20px 80px 0 0 #000, 30px 80px 0 0 #e7dec6, 40px 80px 0 0 #e7dec6,
		10px 90px 0 0 #000, 20px 90px 0 0 #e7dec6, 30px 90px 0 0 #e7dec6,
		10px 100px 0 0 #e7dec6, 20px 100px 0 0 #e7dec6;

	--up-arrow-scroll: 70px 10px 0 0 #842000, 80px 10px 0 0 #842000, 60px 20px 0 0 #842000,
		70px 20px 0 0 #ff5100, 80px 20px 0 0 #ff5100, 90px 20px 0 0 #842000,
		50px 30px 0 0 #842000, 60px 30px 0 0 #ff5100, 70px 30px 0 0 #ff5100,
		80px 30px 0 0 #ff5100, 90px 30px 0 0 #ff5100, 100px 30px 0 0 #842000,
		40px 40px 0 0 #842000, 50px 40px 0 0 #ff5100, 60px 40px 0 0 #ff5100,
		70px 40px 0 0 #ff5100, 80px 40px 0 0 #ff5100, 90px 40px 0 0 #ff5100,
		100px 40px 0 0 #ff5100, 110px 40px 0 0 #842000, 30px 50px 0 0 #842000,
		40px 50px 0 0 #ff5100, 50px 50px 0 0 #ff5100, 60px 50px 0 0 #ff5100,
		70px 50px 0 0 #ff5100, 80px 50px 0 0 #ff5100, 90px 50px 0 0 #ff5100,
		100px 50px 0 0 #ff5100, 110px 50px 0 0 #ff5100, 120px 50px 0 0 #842000,
		20px 60px 0 0 #842000, 30px 60px 0 0 #ff5100, 40px 60px 0 0 #ff5100,
		50px 60px 0 0 #ff5100, 60px 60px 0 0 #ff5100, 70px 60px 0 0 #ff5100,
		80px 60px 0 0 #ff5100, 90px 60px 0 0 #ff5100, 100px 60px 0 0 #ff5100,
		110px 60px 0 0 #ff5100, 120px 60px 0 0 #ff5100, 130px 60px 0 0 #842000,
		10px 70px 0 0 #842000, 20px 70px 0 0 #ff5100, 30px 70px 0 0 #ff5100,
		40px 70px 0 0 #ff5100, 50px 70px 0 0 #ff5100, 60px 70px 0 0 #842000,
		70px 70px 0 0 #842000, 80px 70px 0 0 #842000, 90px 70px 0 0 #842000,
		100px 70px 0 0 #ff5100, 110px 70px 0 0 #ff5100, 120px 70px 0 0 #ff5100,
		130px 70px 0 0 #ff5100, 140px 70px 0 0 #842000, 10px 80px 0 0 #842000,
		20px 80px 0 0 #ff5100, 30px 80px 0 0 #ff5100, 40px 80px 0 0 #842000,
		50px 80px 0 0 #842000, 100px 80px 0 0 #842000, 110px 80px 0 0 #842000,
		120px 80px 0 0 #ff5100, 130px 80px 0 0 #ff5100, 140px 80px 0 0 #842000,
		20px 90px 0 0 #842000, 30px 90px 0 0 #842000, 120px 90px 0 0 #842000,
		130px 90px 0 0 #842000;
}

@media only screen and (max-width: 680px) {
	:root {
		--text-shadow-white: 0.5vw 0 var(--text-shadow-white-color),
			0 0.5vw var(--text-shadow-white-color), 0.5vw 0.5vw var(--text-shadow-white-color);

		--text-shadow-white-extra: 0.5vw 0 var(--text-shadow-white-extra-color),
			0 0.5vw var(--text-shadow-white-extra-color),
			0.5vw 0.5vw var(--text-shadow-white-extra-color);

		--text-shadow-black: 0.5vw 0 var(--text-shadow-black-color),
			0 0.5vw var(--text-shadow-black-color), 0.5vw 0.5vw var(--text-shadow-black-color);

		--text-shadow-black-extra: 0.5vw 0 var(--text-shadow-black-extra-color),
			0 0.5vw var(--text-shadow-black-extra-color),
			0.5vw 0.5vw var(--text-shadow-black-extra-color);

		--text-shadow-orange: 0.5vw 0 var(--text-shadow-orange-color),
			0 0.5vw var(--text-shadow-orange-color), 0.5vw 0.5vw var(--text-shadow-orange-color);
	}
}
