.pokemonlist {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	width: clamp(150px, 90%, 1000px);
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	position: relative;
	margin: 0 auto;
	padding: 1.25em 3em;
	height: calc(100vh - (var(--header-footer-height) * 2) - 2.5em);
}

.pokemonlist li {
	position: relative;
	scroll-snap-align: end;
}

/* css manier (gradient) */
.pokemonlist li button {
	/* height: calc(100% + 1em); */
	width: 100%;
	text-align: start;
	padding: 0.5em;
	display: grid;
	grid-template-columns: min-content 1fr minmax(16em, 1fr);
	align-items: center;
	column-gap: 1em;
	text-shadow: var(--text-shadow-black);
	text-transform: uppercase;
	font-weight: 500;
	font-size: clamp(0px, 1rem, 2.2vw);
}

.pokemonlist li button:focus {
	outline: none;
}

.pokemonlist:not(:has(li button:focus)) li:not(.loading) button:hover::before,
.pokemonlist li:not(.loading) button:focus::before {
	content: '';
	position: absolute;
	left: -2.5em;
	height: 10px;
	width: 10px;
	top: 5%;
	transform: scale(0.4);
	box-shadow: var(--right-arrow-selection);
}

.pokemonlist li button section {
	height: 100%;
	display: flex;
	align-items: center;
}

/* =================
id section
================= */
.pokemonlist li button section:first-of-type p {
	font-size: clamp(0px, 2.5em, 4.4vw);
	width: 2.5em;
}

.pokemonlist li:not(.loading) button section:first-of-type p::before {
	content: 'No';
	text-transform: none;
}

/* =================
name section
================= */
.pokemonlist li button section:nth-of-type(2) {
	font-size: clamp(0px, 1.8em, 4.4vw);
}

/* placeholder div zodat loading animation zelfde grootte houdt als geladen items */
.pokemonlist li.skeleton button section:last-of-type div {
	content: '';
	width: 8em;
	aspect-ratio: 8 / 3;
}

/* =================
list scroll pijl animatie
================= */
body:not(.fade) .pokemonlist.scrollableup::before,
body:not(.fade) .pokemonlist.scrollabledown::after {
	content: '';
}

.pokemonlist::before,
.pokemonlist::after {
	--initial-transform: scale(0.4);
	position: fixed;
	top: calc(var(--header-footer-height) - 1em);
	right: clamp(20vw, 20vw, 200px);
	width: 10px;
	height: 10px;
	box-shadow: var(--up-arrow-scroll);
	animation: 0.4s infinite step-start bounce;
	transform: var(--initial-transform);
	z-index: 4;
}

.pokemonlist::after {
	--initial-transform: scale(0.4) rotate(180deg);
	bottom: calc(var(--header-footer-height) - 1em);
	top: unset;
	margin-right: -3.75em;
}

@keyframes bounce {
	0% {
		transform: var(--initial-transform) translateY(0);
	}
	25% {
		transform: var(--initial-transform) translateY(-5px);
	}
	50% {
		transform: var(--initial-transform) translateY(-10px);
	}
	75% {
		transform: var(--initial-transform) translateY(-5px);
	}
	100% {
		transform: var(--initial-transform) translateY(0);
	}
}

/* =================
media query mobile
================= */
@media (max-width: 600px) {
	/* zorgt ervoor dat scroll beter werkt op mobile */
	.pokemonlist {
		padding: 0.5em;
		margin: 0 auto;
		height: initial;
	}
	.pokemonlist li button:hover,
	.pokemonlist li button:focus {
		outline: solid 2px var(--text-black);
	}

	/* pijltje aan de zijkant weg */
	.pokemonlist:not(:has(li button:focus)) li:not(.loading) button:hover::before,
	.pokemonlist li:not(.loading) button:focus::before {
		content: none;
	}

	/* plaatsing pijltje voor naar onder scroll */
	.pokemonlist::after {
		bottom: 1em;
	}
}
