.pokemondetailbg {
	width: 100%;
	height: calc(100vh - (var(--header-footer-height) * 2));
	min-height: 480px;
	background: var(--bg-details);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	height: 80%;
}

.pokemondetail {
	--border-width: 10px;
	place-self: center;
	height: 100%;
	border: solid var(--border-width) var(--header);
	border-radius: 1em;
	width: clamp(150px, 800px, 90vw);
	display: grid;
	grid-template-rows: 70% 1fr;
	overflow: hidden;
	color: var(--text-black);
	text-shadow: var(--text-shadow-black);
	position: relative;
}

/* divider tussen de sections */
.pokemondetail::after {
	content: '';
	position: absolute;
	/* calc 100% - hoogte van bovenste section - breedte van border * 1.5 */
	bottom: calc((100% - 70%) - var(--border-width) * 1.5);
	left: 0;
	width: 100%;
	height: var(--border-width);
	background: var(--details-divider);
}

/* =====================
bovenste section
===================== */
.pokemondetail > section:first-of-type {
	background: var(--text-white);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* section met text info */
.pokemondetail > section:first-of-type > section:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 2rem 2rem 2rem;
	gap: 1rem;
	width: fit-content;
}

.pokemondetail > section:first-of-type > section:first-of-type div {
	display: flex;
	align-items: baseline;
	gap: 0.8em;
	margin-bottom: 0.5em;
}

.pokemondetail > section:first-of-type > section:first-of-type div p {
	font-size: clamp(0.8rem, 2rem, 7vw);
	white-space: nowrap;
}

.pokemondetail > section:first-of-type > section:first-of-type div h2 {
	text-transform: uppercase;
	font-size: 2.5rem;
	font-size: clamp(1rem, 2.5rem, 8vw);
}

.pokemondetail > section:first-of-type > section:first-of-type p.species {
	font-size: clamp(1rem, 1.8rem, 7vw);
}

.pokemondetail > section:first-of-type > section:first-of-type :is(p.height, p.weight) {
	font-size: clamp(1rem, 1.8rem, 3.5vw);
	width: clamp(5rem, calc(100% - 2rem), 40cqw);
	text-align: end;
	position: relative;
}

.pokemondetail
	> section:first-of-type
	> section:first-of-type
	:is(p.height, p.weight)::before {
	position: absolute;
	left: 0;
}

.pokemondetail > section:first-of-type > section:first-of-type p.height::after {
	content: 'â€';
	position: absolute;
}

.pokemondetail > section:first-of-type > section:first-of-type p.height::before {
	content: 'HT';
}

.pokemondetail > section:first-of-type > section:first-of-type p.weight::before {
	content: 'WT';
}

.pokemondetail > section:first-of-type > section:first-of-type p.weight::after {
	content: 'lbs.';
	margin-left: 0.5em;
	position: absolute;
}

.pokemondetail.loading :is(p.weight, p.height)::before,
.pokemondetail.loading :is(p.weight, p.height)::after {
	display: none;
}

/* section met img */
.pokemondetail > section:first-of-type > section:last-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemondetail > section:first-of-type > section:last-of-type img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	/* image-rendering is de goat */
	image-rendering: pixelated;
}

/* =====================
onderste section
===================== */
.pokemondetail > section:last-of-type {
	text-shadow: var(--text-shadow-black-extra);
	border-top: solid calc(var(--border-width) * 2) var(--header);
	position: relative;
	overflow: hidden;
	container-type: size;
}

.pokemondetail > section:last-of-type p {
	/* vraag me niet hoe ik op deze nummers ben gekomen */
	font-size: clamp(1.1rem, 17.5cqb, 3.5vw);
	line-height: 1.2;
	word-spacing: 0.4em;
	display: flex;
	height: 100%;
	align-items: center;
	width: calc(100% - 0.4em);
	margin: 0 auto;
}

button.back {
	justify-self: end;
	align-self: start;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	color: var(--text-black);
	text-shadow: var(--text-shadow-black-extra);
	font-size: 1.5rem;
}


/* =================
error message
================= */
.pokemondetail.error section:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	gap: 1em;
}

.pokemondetail.error section:first-of-type h2 {
	font-size: clamp(.9rem, 2rem, 5vw);
}

.pokemondetail.error section:first-of-type p {
	font-size: clamp(.7rem, 1.5rem, 4vw);
}

/* =================
iets groter dan mobile stuff
================= */
@media screen and (max-width: 800px) {
	.wrapper {
		grid-template-columns: none;
		grid-template-rows: 2em 1fr;
		height: 95%;
	}

	button.back {
		place-self: start;
		margin-left: 0.5rem;
	}
}

/* =================
mobile stuff
================= */
@media screen and (max-width: 600px) {
	.pokemondetailbg {
		height: calc(100vh - var(--header-footer-height));
	}

	.pokemondetail > section:first-of-type {
		grid-template-columns: 1fr;
		grid-template-rows: 60% 1fr;
	}

	.pokemondetail > section:first-of-type > section:first-of-type {
		order: 1;
	}

	.pokemondetail > section:first-of-type > section:first-of-type {
		padding: 0 1rem 1rem;
		gap: 0.5rem;
	}

	.pokemondetail.loading > section:last-of-type p.flavortext {
		width: calc(100% - 2rem);
	}
}

/* =================
loading stuff
================= */
.pokemondetail.loading p.species {
	width: clamp(5rem, calc(100% - 2rem), 40cqw);
}

.pokemondetail.loading > section:first-of-type > section:first-of-type div p {
	width: 2em;
	font-size: clamp(1rem, 2.5rem, 8vw);
}

.pokemondetail.loading > section:first-of-type > section:first-of-type div h2 {
	width: 5em;
}

.pokemondetail.loading > section:last-of-type p {
	width: calc(100% - 2.5rem);
}
