/* Bron: https://codepen.io/hexagoncircle/pen/WwOzwq?editors=0100 */
@import url('./record.css');
@font-face {
	font-family: 'Readex';
	src: url(../assets/fonts/ReadexPro-VariableFont.ttf);
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

button {
	border: 0;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}

:root {
	--bg-color: #1a1a1a;
	--album-text-color: #1a1a1a;
	--text-color: #fff;

	--album-border: solid 10px pink;

	--album-main: #0093c9;
	--album-cover-inner: white;
}

body {
	height: 100vh;
	background: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Readex', Arial, Helvetica, sans-serif;
}

/* ---------------
container
--------------- */
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}



/* ---------------
algemeen album
--------------- */
.album {
	position: relative;
	background-color: transparent;
	width: 90%;
	aspect-ratio: 1/1;
	perspective: 1000px;
}

.album section {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform-origin: left;
	transform-style: preserve-3d;
}

.album section article {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.container.flipped .album section:first-of-type {
	transform: rotateY(-180deg);
}

/* ---------------
voorkant 1e pagina
--------------- */
.album section:first-of-type {
	z-index: 1;
}

.album section:first-of-type article:first-of-type {
	background-color: var(--album-main);
	color: var(--text-color);
}

.container.imgerror .album section:first-of-type article:first-of-type {
	background-color: none;
	background: linear-gradient(to bottom right, rgb(255, 0, 226) 0%, rgb(90, 0, 189) 100%);
}

.container:not(.loading):not(.imgerror)
	.album
	section:first-of-type
	article:first-of-type::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
	pointer-events: none;
}

.album section:first-of-type article:first-of-type img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(90%);
}

.container.imgerror .album section:first-of-type article:first-of-type img {
	display: none;
}

.album section:first-of-type article:first-of-type div {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top-right-radius: 0.5em;
	background: rgba(0, 0, 0, 0.2);
	max-width: 100%;
	overflow: hidden;
}

.album section:first-of-type article:first-of-type div h1 {
	text-transform: uppercase;
	font-size: 2vw;
	letter-spacing: 0.15em;
	white-space: nowrap;
}

.album section:first-of-type article:first-of-type div h1:not(:empty) {
	padding: 0.25em 0.75em 0.25em 0.6em;
}

.container.loading .album section:first-of-type article:first-of-type svg,
.container.imgerror .album section:first-of-type article:first-of-type svg {
	display: none;
}

.album section:first-of-type article:first-of-type svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
}

/* ---------------
achterkant 1e pagina
--------------- */
.album section:first-of-type article:last-of-type {
	transform: rotateY(180deg);
	background-color: var(--album-cover-inner);
	padding: 1.5em 1em;
	color: var(--album-text-color);
	display: flex;
	align-items: end;
	overflow: hidden;
	font-size: 1.2vw;
	font-weight: 900;
	overflow: hidden;
}

.album section:first-of-type article:last-of-type blockquote {
	position: relative;
	border-left: 6px solid var(--album-main);
	padding-left: 0.8em;
	quotes: '\201C''\201D';
}

/* ---------------
2e pagina
--------------- */
.album section:last-of-type article:first-of-type {
	border-left: var(--album-border);
	background-color: var(--album-main);
	display: flex;
	justify-content: center;
	align-items: center;
}

.album section:last-of-type article:first-of-type .recordholder {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 25%;
	background: var(--album-cover-inner);
	border-top-left-radius: 5em;
}



/* ---------------
loading animatie via bron: https://cssloaders.github.io/
--------------- */
.container:not(.loading) .album span.loader {
	display: none;
}

.loader {
	width: 6em;
	max-width: 60%;
	aspect-ratio: 1/1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader::after,
.loader::before {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 3px solid var(--text-color);
	position: absolute;
	animation: albumload 2s linear infinite;
}
.loader::before {
	animation-delay: -1s;
}

@keyframes albumload {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}



/* ---------------
controls
--------------- */
.container button.togglepage {
	max-width: 100%;
	width: 15rem;
	height: 3em;
	margin-top: 1em;
	background-color: var(--album-main);
	color: var(--text-color);
	font-size: 1.2em;
	border: solid 2px var(--text-color);
	border-radius: 0.5em;
	transition: all .25s ease-in-out;
}

.container.flipped button.togglepage,
.container:not(.flipped) button.togglepage:focus-visible,
.container:not(.flipped) button.togglepage:hover {
	background-color: var(--text-color);
	color: var(--album-main);
	border-color: var(--album-main);
}

.container button.togglepage,
.container.flipped button.togglepage:focus-visible,
.container.flipped button.togglepage:hover {
	background-color: var(--album-main);
	color: var(--text-color);
	border-color: var(--text-color);
}

.container button.togglepage:focus-visible {
	outline-offset: 5px;
}

.container button.togglepage::before,
.container button.togglepage::after {
	text-transform: uppercase;
	font-weight: bold;
}

.container button.togglepage::before {
	content: 'open';
}

.container.flipped button.togglepage::before {
	content: 'close';
}


/* ---------------
media queries
--------------- */
@media screen and (max-width: 1200px) {
	.container {
		width: 35%;
	}

	.album section:first-of-type article:first-of-type div h1 {
		font-size: 2.3vmin;
	}

	.album section:first-of-type article:last-of-type {
		font-size: 2vmin;
	}
}

@media screen and (orientation: portrait) {
	.container {
		width: 80%;
		margin-bottom: -15vh;
	}

	.container > section {
		transform: rotate(-90deg);
	}

	.album section:first-of-type {
		transform-origin: top;
	}

	.container.flipped .album section:first-of-type {
		transform: rotateX(180deg);
	}

	.album section:first-of-type article:last-of-type {
		transform: rotateY(180deg) rotateZ(180deg);
	}

	.album section:first-of-type article:first-of-type div h1 {
		font-size: 5.3vmin;
	}

	.album section:first-of-type article:last-of-type {
		font-size: 4vmin;
	}

	/* ---------------
	2e pagina
	--------------- */
	.album section:last-of-type article:first-of-type {
		border-top: var(--album-border);
		border-left: none;
	}
}

@media screen and (max-height: 400px) and (max-width: 1200px) {
	.container {
		width: 40%;
	}
}
